extends layout

block content
  h1 Автор: #{author.name}
  p #{author.lifespan}

  div(style='margin-left:20px;margin-top:20px')
    h2 Книги
    if author_books.length
      ul
        each book in author_books
          li
            a(href=book.url) #{book.title}
            |  (#{book.summary})
    else
      p У цього автора немає книг.